* {
  font-family: "Segoe UI", Arial, sans-serif;
}
header ul{
    display: flex;
   gap: 20px;
   padding: 10px 20px;
   justify-content: center;
   background-color: #575575;
   color: #D6DCD8;
}

header ul p{
     font-weight: bolder;
     font-size: 1.2rem;
}

header ul li a{
    font-size: 1.2rem;
 transition: all 0.3s ease;
 color: #00bfff;
    background-color: #1e2a50;
    border-radius: 50px;
    border: 2px solid #00bfff;
    padding: 5px 10px;
     cursor: pointer;
}

header a.marc{
   background-color: #007acc;
    color: #ffffff;
    border: 2px solid #00bfff;
}

 header a:hover {
         background-color: #00bfff;
    color: #0a1a3c;
    font-weight: bolder;
    }

/* ===== GERAL ===== */
body {
  background: linear-gradient(180deg, #a4b3de, #1c397c);
  color: #e5e7eb;
  font-family: "Segoe UI", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



/* ===== MAIN ===== */
main {
  flex: 1;
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
}

/* Seção título */
.sec1 {
  text-align: center;
  margin-bottom: 40px;
}

.sec1 h1 {
font-size: 3rem;
  margin-bottom: 20px;
  color: #fbbf24;
  letter-spacing: 3px;
  box-shadow: 0 0 25px rgba(76, 75, 75, 0.6);
  background-color: rgba(15, 23, 42, 0.85);
  border-radius: 15px;
}

.sec1 p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #0f172a;
}


.sec2 {
  background: #0f172a;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(76, 75, 75, 0.6);
}

.sec2 p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}

.sec2 p:last-child {
  margin-bottom: 0;
}

footer {
    background-color: #0a1a3c;
    padding: 20px;
    text-align: center;
    color: #d6dcd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer img {
    max-width: 7%;
    border-radius: 10px;
}

footer p {
    font-weight: bold;
}