* {
  font-family: "Segoe UI", Arial, sans-serif;
}
header ul{
    display: flex;
   gap: 20px;
   padding: 10px 20px;
   justify-content: center;
   background-color: #575575;
   color: #D6DCD8;
}

header ul p{
     font-weight: bolder;
     font-size: 1.2rem;
}

header ul li a{
    font-size: 1.2rem;
 transition: all 0.3s ease;
 color: #00bfff;
    background-color: #1e2a50;
    border-radius: 50px;
    border: 2px solid #00bfff;
    padding: 5px 10px;
     cursor: pointer;
}

header a.marc{
   background-color: #007acc;
    color: #ffffff;
    border: 2px solid #00bfff;
}

 header a:hover {
         background-color: #00bfff;
    color: #0a1a3c;
    font-weight: bolder;
    }
main{
text-align: center;
}
    section.titulo{
        padding: 15vw;
     background: linear-gradient(180deg, #a4b3de, #1c397c);
    }

    section.titulo h1{
        font-size: 3rem;
  margin-bottom: 20px;
  color: #fbbf24;
  letter-spacing: 3px;
  box-shadow: 0 0 25px rgba(76, 75, 75, 0.6);
  background-color: rgba(15, 23, 42, 0.85);
  border-radius: 15px;
    }

section.armas{
background-color: black;
color: #a4ded8;

}

section.armas span{
    color: #e26c05;
}

section.armas h4{
    font-size: 1.7rem;
    color: #8757cb;
}

section.armas h2{
font-size: 3.7rem;
padding: 30px;
text-shadow: 1px 1px 4px  rgb(11, 17, 202);
}

section.armas ul li{
    border: 3px solid rgb(108, 110, 168);
    padding: 10px;
    border-radius: 20px;
}

section.armas ul{
    padding-bottom: 20px;
}

section.armas h3{
font-size: 1.7rem;
border-radius: 50px;
padding: 10px;
background-color: #1e135f;
color: #a4b3de;
display: inline-block;
}


.armas ul li p{
font-size: 1.2rem;
padding: 15px;
}


.peque{
    font-size: 0.8rem;
    color: yellow;
}

section.equi h2{
font-size: 5rem;
padding: 30px;
color: #7fb7be;
text-shadow: 1px 1px 4px  rgb(11, 17, 202);
}

section.equi{
    background-color: #1e135f;
    padding: 8vw;
}
section.equi ul li h3{
        color: #a4b3de;
        font-size: 1.8rem;
}

section.equi span{
    color: #e26c05;
}

section.planilha h2{
color: #a4ded8;
padding: 50px;
font-size: 3.7rem;
text-shadow: 1px 1px 4px  rgb(11, 17, 202);
}

section.planilha{
    background-color: black;
}

.planilha {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 50px;
}

.planilha th,
.planilha td {
    border: 2px solid rgb(119, 146, 204);
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.planilha thead th {
    background-color: #c1d8f6;
    color: #1e00b3;
    font-weight: bold;
}

.planilha tbody th {
    background-color: #c1e3f6;
    color: #007db3;
    font-weight: bold;
}

.planilha td {
    background-color: #d3d2fd;
}

.planilha .espacos td,
.planilha .espacos th {
    background-color: #8aa5ff;
    font-weight: bold;
}

.negativo {
    color: red;
    font-weight: bold;
}

.medio {
    color: #b35400;
    font-weight: bold;
}

.positivo {
    color: green;
    font-weight: bold;
}



footer {
    background-color: #0a1a3c;
    padding: 20px;
    text-align: center;
    color: #d6dcd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer img {
    max-width: 7%;
    border-radius: 10px;
}

footer p {
    font-weight: bold;
}