html{
    background-color: black;
}

section.ini{
    margin: 30px 40px;
text-align: center;
color: white;
}

section.ini h1{
    color: rgb(199, 59, 12);  
    display: inline;
}

section.ini p{
padding: 10px;
font-size: 1.5rem;
}

section.ini img{
    max-width: 27%;

    margin: 7vw 0;
}

section.ini button{
    background-color: red;
    padding: 5px 10px;
    border: 2px solid white;
    font-size: 1rem;
    border-radius: 2px;
     color: rgb(84, 22, 1); 
}

section.ini input{
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
}