* {
  font-family: "Segoe UI", Arial, sans-serif;
}
header ul{
    display: flex;
   gap: 20px;
   padding: 10px 20px;
   justify-content: center;
   background-color: #575575;
   color: #D6DCD8;
}

header ul p{
     font-weight: bolder;
     font-size: 1.2rem;
}

header ul li a{
    font-size: 1.2rem;
 transition: all 0.3s ease;
 color: #00bfff;
    background-color: #1e2a50;
    border-radius: 50px;
    border: 2px solid #00bfff;
    padding: 5px 10px;
     cursor: pointer;
}

header a.marc{
   background-color: #007acc;
    color: #ffffff;
    border: 2px solid #00bfff;
}

 header a:hover {
         background-color: #00bfff;
    color: #0a1a3c;
    font-weight: bolder;
    }


section.sec1{
 background: linear-gradient(180deg, #a4b3de, #1c397c);
padding: 10vw 10vw;
text-align: center;
}

section.sec1 p{
  padding: 2vw;
margin: 25px 10px;
border-radius: 25px;
    color: #273a74;
    font-size: 1.5rem;
    background-color: #a4b3de;
}

section.sec1 span{
  font-weight: bolder  ;
}

section.sec1 h1{
    font-size: 3rem;
  margin-bottom: 20px;
  color: #fbbf24;
  letter-spacing: 3px;
  box-shadow: 0 0 25px rgba(76, 75, 75, 0.6);
  background-color: rgba(15, 23, 42, 0.85);
  border-radius: 15px;
}

section.sec2{
background: linear-gradient(180deg, #06122e, #283483);
    background-size: cover;
     background-repeat: no-repeat;
  background-position: center center;
    padding: 15vw 15vw;
    text-align: center;
    font-size: 2rem;
    color: #a4b3de;
}

section.sec2 p{
    background-color: #273a74;
     box-shadow: 0 0 15px rgba(7, 63, 82, 0.4);
    border-radius: 10px;
    padding: 20px 25px;
}

section.sec3{
    padding: 5vw 5vw;
background-color: #000000;
}

section.sec3 ul li{
padding: 20px;
}

section.sec3 ul{
    border-radius: 10px;
    background-color: #8996b6;
    box-shadow: 1px 2px 4px 2px rgb(198, 183, 183);
}

section.sec3 h3{
    color: rgba(15, 23, 42, 0.85);
    font-size: 2.5rem;
}

section.sec3 p{
    color: #49425b;
    font-size: 1.5rem;
    padding: 10px;
}

footer {
    background-color: #0a1a3c;
    padding: 20px;
    text-align: center;
    color: #d6dcd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer img {
    max-width: 7%;
    border-radius: 10px;
}

footer p {
    font-weight: bold;
}