
* {
  font-family: "Segoe UI", Arial, sans-serif;
}
header ul{
    display: flex;
   gap: 20px;
   padding: 10px 20px;
   justify-content: center;
   background-color: #575575;
   color: #D6DCD8;
}

header ul p{
     font-weight: bolder;
     font-size: 1.2rem;
}

header ul li a{
    font-size: 1.2rem;
 transition: all 0.3s ease;
 color: #00bfff;
    background-color: #1e2a50;
    border-radius: 50px;
    border: 2px solid #00bfff;
    padding: 5px 10px;
     cursor: pointer;
}

header a.marc{
   background-color: #007acc;
    color: #ffffff;
    border: 2px solid #00bfff;
}

 header a:hover {
         background-color: #00bfff;
    color: #0a1a3c;
    font-weight: bolder;
    }

section.title{
    text-align: center;
    background: linear-gradient(180deg, #a4b3de, #1c397c);
    padding: 15vw 10vw;
}

section.title h1{
 font-size: 3rem;
  margin-bottom: 20px;
  color: #fbbf24;
  letter-spacing: 3px;
  box-shadow: 0 0 25px rgba(76, 75, 75, 0.6);
  background-color: rgba(15, 23, 42, 0.85);
  border-radius: 15px;
}


section.sec2{
    background-color: #1e135f;
padding: 10vw;
}

section.sec2 p{
font-size: 1.9rem;
padding: 20px;
 background-color: #070224;
    padding: 15px;
    margin-bottom: 20px;
      border-radius: 15px; 
text-align: center;
color: #a4b3de;;;
}

section.sec3{
    padding: 10vw;
    
    color: white;

  background-color: black;

}

section.sec3 p{
    font-size: 2rem;
    text-align: center;
    color: #a4ded8;
    background-color: #1e135f;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 50px;
}

section.sec3 span{
    color: #eeff00;
}

footer {
    background-color: #0a1a3c;
    padding: 20px;
    text-align: center;
    color: #d6dcd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer img {
    max-width: 7%;
    border-radius: 10px;
}

footer p {
    font-weight: bold;
}