
* {
  font-family: "Segoe UI", Arial, sans-serif;
}


header ul{
    display: flex;
   gap: 20px;
   padding: 10px 20px;
   justify-content: center;
   background-color: #557570;
   color: #D6DCD8;
}

header ul p{
     font-weight: bolder;
     font-size: 1.2rem;
}



header ul li a{
    font-size: 1.2rem;
    color: #376d4b;
    background-color: #a4ded8;
    border-radius: 50px;
    border: 3px solid #529f6e;
    padding: 5px 10px;
     cursor: pointer;
}

header a.marc{
      background-color: #7fb7be;
        color: #3c57a7;
          border: 3px solid rgb(108, 114, 161);
        font-weight: bolder;
}

 header a:hover {
        background-color: #D6DCD8;
        color: #68afa4;
          border: 3px solid rgb(163, 170, 233);
        font-weight: bolder;
    }



section.title{
    text-align: center;
    background-color: #D6DCD8;
    padding: 15vw 10vw;
}

section.title h1{
 font-size: 5rem;
        text-shadow: 2px 2px gray;
    color: #557570;
}


section.sec2{
    background-color: #1e135f;
padding: 10vw;
}

section.sec2 p{
font-size: 1.9rem;
padding: 20px;
 background-color: #070224;
    padding: 15px;
    margin-bottom: 20px;
      border-radius: 15px; 
text-align: center;
color: #a4b3de;;;
}

section.sec3{
    padding: 10vw;
    
    color: white;

  background-color: black;

}

section.sec3 p{
    font-size: 2rem;
    text-align: center;
    color: #a4ded8;
    background-color: #022324;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 50px;
}

section.sec3 span{
    color: #376d4b;
}

footer {
    background: url(../img/fundo2.jpg);
    padding: 1.5vw 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

footer img {
    margin: 20px 10px;
    max-width: 7%;
    border-radius: 15px;
}

footer p {
    font-size: 1.3rem;
    color: #244731;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #a4ded8;
}