header ul{
    display: flex;
   gap: 20px;
   padding: 10px 20px;
   justify-content: center;
   background-color: #557570;
   color: #D6DCD8;
}

header ul p{
     font-weight: bolder;
     font-size: 1.2rem;
}


header ul li a{
    font-size: 1.2rem;
    color: #376d4b;
    background-color: #a4ded8;
    border-radius: 50px;
    border: 3px solid #529f6e;
    padding: 5px 10px;
     cursor: pointer;
}


 header a:hover {
        background-color: #D6DCD8;
        color: #68afa4;
          border: 3px solid rgb(163, 170, 233);
        font-weight: bolder;
    }

body{
    background-color: black;
}
        .container{
            max-width:800px;
            margin:80px auto;
            padding:40px;
            background:rgba(15,23,42,0.95);
            border-radius:18px;
            box-shadow:0 12px 30px rgba(0,0,0,0.7);
        }
        h1{
            color:#38bdf8;
            font-size:2.4rem;
            margin-top:0;
        }
        .atributo{
            font-size:1.1rem;
            font-weight:bold;
            color:#facc15;
            margin-bottom:20px;
        }
        p{
            font-size:1.1rem;
            line-height:1.6;
            color: white;
        }
        a{
            display:inline-block;
            margin-top:30px;
            color:#38bdf8;
            text-decoration:none;
            font-weight:bold;
        }
        a:hover{
            text-decoration:underline;
        }

footer {
    background: url(../img/fundo2.jpg);
    padding: 1.5vw 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

footer img {
    margin: 20px 10px;
    max-width: 7%;
    border-radius: 15px;
}

footer p {
    font-size: 1.3rem;
    color: #244731;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #a4ded8;
}