* {
  font-family: "Segoe UI", Arial, sans-serif;
}


body{
    background-color: black;
}
        .container{
            max-width:800px;
            margin:80px auto;
            padding:40px;
            background:rgba(15,23,42,0.95);
            border-radius:18px;
            box-shadow:0 12px 30px rgba(0,0,0,0.7);
        }
        h1{
            color:#38bdf8;
            font-size:2.4rem;
            margin-top:0;
        }
        .atributo{
            font-size:1.1rem;
            font-weight:bold;
            color:#facc15;
            margin-bottom:20px;
        }
        p{
            font-size:1.1rem;
            line-height:1.6;
            color: white;
        }
        a{
            display:inline-block;
            margin-top:30px;
            color:#38bdf8;
            text-decoration:none;
            font-weight:bold;
        }
        a:hover{
            text-decoration:underline;
        }

footer {
    background-color: #0a1a3c;
    padding: 20px;
    text-align: center;
    color: #d6dcd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer img {
    max-width: 7%;
    border-radius: 10px;
}

footer p {
    font-weight: bold;
}