header ul {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    justify-content: center;
    background-color: #557570;
    color: #D6DCD8;
}

header ul p {
    font-weight: bolder;
    font-size: 1.2rem;
}



header ul li a {
    font-size: 1.2rem;
    color: #376d4b;
    background-color: #a4ded8;
    border-radius: 50px;
    border: 3px solid #376d4b;
    padding: 5px 10px;
    cursor: pointer;
}

header a.marc {
    background-color: #7fb7be;
    color: #273a74;
    border: 3px solid rgb(84, 88, 124);
    font-weight: bolder;
}

header a:hover {
    background-color: #D6DCD8;
    color: #68afa4;
    border: 3px solid rgb(145, 151, 206);
    font-weight: bolder;
}

section.sec1 {
    background-color: black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}

section.sec1 h1 {
    font-size: 4rem;
    text-shadow: 2px 2px rgb(66, 65, 65);
    color: #90d4ca;
    padding-bottom: 20px;
}

.planet-box {
    background-color: #180f48;
    text-align: center;
    border: 4px solid #351fb3;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 950px;
    color: #244731;
    font-family: Arial, Helvetica, sans-serif;
}

.planet-box h2 {
    text-align: center;
    font-size: 2rem;
    color: #a4b3de;
}

.planet-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
    margin-bottom: 15px;
}

.planet-info p {
    background-color: #D6DCD8;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 0.95rem;
}

.planet-desc {
    background-color: #7fb7be;
    padding: 15px;
    border-radius: 15px;
    line-height: 1.6;
    font-weight: bold;
}






footer {
    background: url(../img/fundo2.jpg);
    padding: 1.5vw 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

footer img {
    margin: 20px 10px;
    max-width: 7%;
    border-radius: 15px;
}

footer p {
    font-size: 1.3rem;
    color: #244731;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #a4ded8;
}