* {
  font-family: "Segoe UI", Arial, sans-serif;
}



header ul{
    display: flex;
   gap: 20px;
   padding: 10px 20px;
   justify-content: center;
   background-color: #575575;
   color: #D6DCD8;
}

header ul p{
     font-weight: bolder;
     font-size: 1.2rem;
}

header ul li a{
    font-size: 1.2rem;
 transition: all 0.3s ease;
 color: #00bfff;
    background-color: #1e2a50;
    border-radius: 50px;
    border: 2px solid #00bfff;
    padding: 5px 10px;
     cursor: pointer;
}

header a.marc{
   background-color: #007acc;
    color: #ffffff;
    border: 2px solid #00bfff;
}

 header a:hover {
         background-color: #00bfff;
    color: #0a1a3c;
    font-weight: bolder;
    }

section.sec1 {
    background-color: #03102b;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}

section.sec1 h1 {
    font-size: 4rem;
  color: #fbbf24;
  letter-spacing: 3px;
    padding-bottom: 20px;
}

.planet-box {
    background-color: #180f48;
    text-align: center;
    border: 4px solid #351fb3;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 950px;
    color: #244731;
    font-family: Arial, Helvetica, sans-serif;
}

.planet-box h2 {
    text-align: center;
    font-size: 2rem;
    color: #a4b3de;
}

.planet-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
    margin-bottom: 15px;
}

.planet-info p {
    background-color: #D6DCD8;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 0.95rem;
}

.planet-desc {
    background-color: #7fb7be;
    padding: 15px;
    border-radius: 15px;
    line-height: 1.6;
    font-weight: bold;
}

footer {
    background-color: #0a1a3c;
    padding: 20px;
    text-align: center;
    color: #d6dcd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer img {
    max-width: 7%;
    border-radius: 10px;
}

footer p {
    font-weight: bold;
}