* {
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: radial-gradient(circle at top, #2b0000, #120000);
  color: #f2dede;
  font-family: "Segoe UI", Arial, sans-serif;
}


header ul{
    display: flex;
   gap: 20px;
   padding: 10px 20px;
   justify-content: center;
   background: linear-gradient(90deg, #5a0000, #8b0000);
   color: #ffeaea;
}

header ul p{
     font-weight: bolder;
     color: #ffd6d6;
     font-size: 1.2rem;
}



header ul li a{
    font-size: 1.2rem;
    color: #5a0000;
    background-color: #ffb3b3;
    border-radius: 50px;
    border: 3px solid #b30000;
    padding: 5px 10px;
     cursor: pointer;
}

header a.marc{
      background-color: #ff4d4d;
        color: #300000;
          border: 3px solid #ff8080;
        font-weight: bolder;
}

 header a:hover {
        background-color: #ffd6d6;
        color: #7a0000;
          border: 3px solid #ff9999;
        font-weight: bolder;
    }


main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.sec1 {
  text-align: center;
  border: 4px solid #b30000;
  padding: 30px;
  background: linear-gradient(180deg, #7a0000, #3b0000);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}

.sec1 h1 {
  font-size: 3rem;
  letter-spacing: 6px;
  color: #ffcccc;
  margin-bottom: 10px;
}

.sec1 p {
  font-size: 1.2rem;
  color: #ffd6d6;
  font-weight: bold;
}

.sec2,
.sec3 {
  margin-top: 30px;
  padding: 25px;
  border-left: 6px solid #ff4d4d;
  background-color: rgba(80, 0, 0, 0.7);
  box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.2);
}

.sec2 p,
.sec3 p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ffeaea;
}


footer {
    background-color: #3c0a0a;
    padding: 20px;
    text-align: center;
    color: #d6dcd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer img {
    max-width: 7%;
    border-radius: 10px;
}

footer p {
    font-weight: bold;
}