* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}


header ul{
    display: flex;
   gap: 20px;
   padding: 10px 20px;
   justify-content: center;
   background-color: #575575;
   color: #D6DCD8;
}

header ul p{
     font-weight: bolder;
     font-size: 1.2rem;
}

header ul li a{
    font-size: 1.2rem;
 transition: all 0.3s ease;
 color: #00bfff;
    background-color: #1e2a50;
    border-radius: 50px;
    border: 2px solid #00bfff;
    padding: 5px 10px;
     cursor: pointer;
}

header a.marc{
   background-color: #007acc;
    color: #ffffff;
    border: 2px solid #00bfff;
}

 header a:hover {
         background-color: #00bfff;
    color: #0a1a3c;
    font-weight: bolder;
    }

body {
  background: radial-gradient(circle at top, #020617, #020617 40%, #000);
  color: #e5e7eb;
  min-height: 100vh;

}

.titulo {
  position: relative;
  text-align: center;
  padding: 60px 20px;
  margin-bottom: 40px;

  background:
    radial-gradient(circle at top, #163b73, #050d1a);
  border-bottom: 6px solid #4fc3ff;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.6);
}

.titulo::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background: linear-gradient(
    90deg,
    transparent,
    #7fb7ff,
    transparent
  );
}

.titulo h1 {
  font-size: 3.8rem;
  letter-spacing: 6px;
  text-transform: uppercase;

   color: #fbbf24;
}


.lista-racas {
    
  max-width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.lista-racas a {
  display: block;
      margin-top: 10px;
    margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  background: rgba(30, 41, 59, 0.9);
  color: #f1f5f9;
  padding: 14px;
  border-radius: 12px;
  font-size: 1.1rem;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.lista-racas a:hover {
  background: #38bdf8;
  color: #020617;
  transform: translateY(-4px) scale(1.03);
  font-weight: bold;
}

footer {
    background-color: #0a1a3c;
    padding: 20px;
    text-align: center;
    color: #d6dcd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer img {
    max-width: 7%;
    border-radius: 10px;
}

footer p {
    font-weight: bold;
}
