    body {
        font-family: Arial, sans-serif;
        background-color: #5c0202;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        background-color: #000000;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 350px;
    }

    input[type="text"] {
        padding: 10px;
        width: 80%;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    button {
        padding: 10px 20px;
        margin-top: 15px;
        background-color: #eaff00;
        color: rgb(184, 6, 6);
        font-weight: bolder;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #ff0000;
        color: rgb(255, 234, 0);
        font-weight: bolder;
    }

    #feedbackArea {
        margin-top: 20px;
        font-weight: bold;
        min-height: 1em; 
    }

    .correct {
        color: #28a745; 
    }

    .wrong {
        color: #dc3545;
    }

    section.en h1{
  padding: 15px 15px;
  color: #ff9100 ;
    }

    section.en p{
        padding: 8px;
    }
